In [1]:
import pandas as pd
from dataquality import DataQuality

# Carregar o dataset
df = pd.read_csv("/Users/danielzunarelli/Desktop/Study/Engenharia de Dados/ADA Tech/datasets/Forbes_Richest_Atheletes_1990_2020.csv")

# Instanciar a classe DataQuality com o dataset
data_quality = DataQuality(df)

# Chamar os métodos para realizar as análises
data_quality.quickinfo()
data_quality.firsts10()