In [6]:
import pandas as pd
from dataquality import DataQuality

# Carregar o dataset
df = pd.read_csv("/Users/danielzunarelli/Desktop/Study/Engenharia de Dados/ADA Tech/datasets/Forbes_Richest_Atheletes_1990_2020.csv")

# Instanciar a classe DataQuality com o dataset
data_quality = DataQuality(df)

# Chamar os métodos para realizar as análises
data_quality.quickinfo()

Contagem de Linhas e Colunas (Linhas, Colunas):

   Linhas  Colunas
0     301        8

Contagem de valores nulos por coluna:

                index  Valores Nulos
0  Previous Year Rank             24

Contagem de linhas duplicadas:

   Contagem de Linhas Duplicadas
0                              0